<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>성공회대학교</title>
        
        <% include ../common/css.ejs %>
        <!-- jQuery -->
        <script src="/res/vendors/jquery/dist/jquery.min.js"></script>
        <script src="/res/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/res/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/res/assets/js/jquery.backstretch.min.js"></script>
        <script src="/res/assets/js/wow.min.js"></script>
        <script src="/res/assets/js/retina-1.1.0.min.js"></script>
        <script src="/res/assets/js/waypoints.min.js"></script>
        <script src="/res/assets/js/scripts.js"></script>



    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <% include ../common/nav.ejs %>


                    <!-- page content -->
              <div class="right_col" role="main">
                <div class="header">
                  <img src="/res/production/images/guide/intro.png" alt="..." class="img-responsive" style="max-width:100%;height:auto;">
                </div>

                <div class="navbar-collapse">
                  <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                    <li class="active"><a href="">인문학습원</a></li>
                    <li><a href="#section-about">원장 인사말</a></li>
                    <li><a href="#section-works">사업안내</a></li>
                      <li><a href="#section-compony">조직안내</a></li>
                        <li><a href="#section-contact">오시는길</a></li>
                  </ul>
                </div><!--/.navbar-collapse -->
                  <div class="row" style="margin-top:10px;">


                    <!-- services -->
                    <section id="section-services" class="section pad-bot30 bg-white">
                    <div class="container">

                      <div class="row mar-bot40">
                        <div class="col-lg-4" >
                          <div class="align-center">
                            <i class="fa fa-pagelines fa-5x mar-bot20"></i>
                            <h4 class="text-bold">Hope</h4>
                            <p>
                                인문학습원은 미래를 기원합니다
                            </p>
                          </div>
                        </div>

                        <div class="col-lg-4" >
                          <div class="align-center">
                            <i class="fa fa-star fa-5x mar-bot20"></i>
                            <h4 class="text-bold">Dream</h4>
                            <p>
                                인문학습원은 여러분의 꿈과 함께합니다.
                            </p>
                          </div>
                        </div>

                        <div class="col-lg-4" >
                          <div class="align-center">
                            <i class="fa fa-university fa-5x mar-bot20"></i>
                            <h4 class="text-bold">Knowlege</h4>
                            <p>
                                인문학습원은 많은 지식을 공유합니다.
                            </p>
                          </div>
                        </div>

                      </div>

                    </div>
                    </section>

                    <!-- spacer section:testimonial -->
                    <section id="section-about" class="section" data-stellar-background-ratio="0.5">
                    <div class="container">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="align-center">
                                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                                      <div class="align-center pad-top40 pad-bot40">
                                          <blockquote class="bigquote color-white"><h3>원장님 인사말</h3></blockquote>
                                          <p class="color-white"></p>
                                      </div>

                                    </div>

                                </div>
                              </div>
                          </div>

                      </div>
                    </div>
                    </section>

                    <!-- about -->
                    <section id="section-about2" class="section appear clearfix">
                    <div class="container">



                          <div class="row align-center mar-bot40">
                            <div class="col-md-6">
                              <div class="team-member">
                                <figure class="member-photo"><img src="/res/production/images/guide/sin.jpg" alt="" /></figure>
                                <div class="team-detail">
                                  <h4>신영복</h4>
                                  <span>인간적 삶을 경작해 가고자 하는 인문학습원의 모든 동학들에게 이 디지털공간은 그 먼 길의 어는 중도막에서 만나는 샘터의 찬물이 되리라 기대합니다. </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="team-member">
                                <figure class="member-photo"><img src="/res/production/images/guide/kim.jpg" alt="" /></figure>
                                <div class="team-detail">
                                  <h4>김창남</h4>
                                  <span>우리 인문학습원이 바로 그런 변화의 출발점이 되면 좋겠습니다. 이 아름다운 동행의 길을 함께 할 도반(道伴)이 되어주신 여러분을 환영합니다. 그리고 깊은 감사를 드립니다.</span>
                                </div>
                              </div>
                            </div>

                          </div>

                    </div>
                    </section>
                    <!-- /about -->
                    <br/>
                    <br/>
                    <br/>
                    <!-- spacer section:stats -->
                    <section id="section-works" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
                      <div class="container">
                            <div class="align-center pad-top40 pad-bot40">
                                <blockquote class="bigquote color-white"><h3>인문학습원 사업안내</h3></blockquote>
                        <p class="color-white"></p>
                            </div>
                      </div>
                    </section>

                    <!-- section works -->
                    <section id="section-works2" class="section appear clearfix">
                      <div class="container">



                                        <div class="row">
                                          <div class="col-md-4">
            <ul id="tree1">
                <li><a href="#">사업안내</a>

                    <ul>
                        <li>인문공부 연 2회(3월,9월) 실시
                        <ul>
                            <li>CEO와 함께하는 ’인문 공부’ 입문과정(기업인, 전문직 종사자 대상) </li>
                            <li>CEO와 함께하는 ’인문 공부’ 심화과정(입문과정 졸업생 대상)</li>

                        </ul>
                        </li>
                        <li>인문학 특강
                            <ul>
                                <li>Reports
                                  <li>사회와의 소통과 성찰을 목표로 월 1회 인문공부 동문을 중심으로 진행</li>
                                  <li>졸업생 대상 하계, 동계 특강</li>

                                </li>

                            </ul>
                        </li>
                        <li>기업체 인문학 컨설팅 운영</li>
                    </ul>
                </li>

        </div>
                              </div>




                      </div>
                    </section>

                    <section id="section-compony" class="section parallax" data-stellar-background-ratio="0.5">
                            <div class="align-center pad-top40 pad-bot40">
                                <blockquote class="bigquote color-white"><h3>조직안내</h3></blockquote>
                            </div>
                    </section>
                    <!-- section company -->
                    <section id="section-company" class="section appear clearfix">
                      <div class="container">



                                        <div class="row">
                                          <div class="col-md-4">
            <ul id="tree1">
                <li><a href="#">조직안내</a>

                    <ul>
                        <li><사무국>
                        <ul>
                            <li>원  장 : 김창남 02-2610-4339<li>
                            <li>부원장 : 임정아 02-2610-4810 / vision@skhu.ac.kr</li>
                            <li>직  원 : 유수정 02-2610-4317 / human4317@daum.net<li>
                        </ul>
                        </li>
                        <li><담임교수>
                            <ul>
                                <li>박경태 성공회대학교 사회과학부 교수


                                </li>

                            </ul>
                        </li>
                        <li><기획위원>

                          <ul>
                              <li>정윤수 한신대학교 정조교양대학 교수


                              </li>

                          </ul></li>
                    </ul>
                </li>

        </div>
                              </div>




                      </div>
                    </section>
                    <section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
                            <div class="align-center pad-top40 pad-bot40">
                                <blockquote class="bigquote color-white"><h3>오시는길</h3></blockquote>
                            </div>
                    </section>

                    <!-- contact -->
                    <section id="section-contact" class="section appear clearfix">
                      <div class="container">

                        <div class="row mar-bot40">
                            <img src="/res/production/images/guide/route.png" class="img-responsive" style="max-width:100%;height:auto;" alt="" />
                          </div>
                          <!-- ./span12 -->
                        </div>

                      </div>
                    </section>
                    <!-- map -->
                    <section id="section-map" class="clearfix">
                      <div id="map"></div>
                    </section>

                  </div>
          </div>
          <!-- /page content -->
        </div>
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                성공회대학교 동문회 관리 시스템
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>

    <% include ../common/script.ejs %>
</body>
</html>
