<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SKHU 동문회</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/res/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/res/assets/css/animate.css">
    <link rel="stylesheet" href="/res/assets/css/form-elements.css">
    <link rel="stylesheet" href="/res/assets/css/style.css">
    <link rel="stylesheet" href="/res/assets/css/media-queries.css">
    <link rel="stylesheet" href="/res/assets/css/home.css">


    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/res/assets/ico/favicon.png">
    <style>
        @font-face{
            font-family: 'InterparkGothicMedium';
            src:url('/res/font/InterparkGothicMedium.ttf') format('truetype');
        }
        @font-face{
            font-family: 'InterparkGothicBold';
            src:url('/res/font/InterparkGothicBold.ttf') format('truetype');
        }

        body {
            font-family: InterParkGothicMedium;
        }


    </style>

    <script src="/res/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/res/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/res/assets/js/jquery.backstretch.min.js"></script>
    <script src="/res/assets/js/wow.min.js"></script>
    <script src="/res/assets/js/retina-1.1.0.min.js"></script>
    <script src="/res/assets/js/waypoints.min.js"></script>
    <script src="/res/assets/js/scripts.js"></script>
    <script src="/res/assets/js/home.js"></script>

</head>

<body>

<!-- How it works -->
<div class="row head">
    <div class="col-sm-12 how-it-works section-description wow fadeIn">
        <h2><strong>로그인</strong></h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
    </div>
</div>
<section class="container login-form">
    <form method="post" action="" role="login">
        <section>
            <img src="/res/assets/img/homeLogo.jpg" alt="" class="img-responsive" />

            <div class="form-group">
                <input type="text" name="user_id" placeholder="핸드폰 번호를 입력해주세요" required class="form-control input-lg" />
            </div>
            <div class="form-group">
                <input type="password" name="user_password" placeholder="비밀번호를 입력해주세요" required class="form-control input-lg" />
            </div>

            <br/>
            <button type="submit" id="go" class="btn btn-lg btn-block btn-success">로그인</button>
        </section>
    </form>
    <section class="signup">
        <a href="#"></a>
    </section>
</section>
</body>
